#intro_logo {
	max-width:25%;
	float: left;
	padding-right:70px;
}

#intro {
    padding-right: 70px;
    padding-left: 70px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    paint-order: stroke fill;
    font-size: large;
    float:right;
}

p {
    padding-right: 70px;
    padding-left: 70px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    paint-order: stroke fill;
    font-size: large;
}

h2 {
    padding-right: 70px;
    padding-left: 70px;
    font-family:Impact, Arial, Helvetica, sans-serif;
    paint-order: stroke fill;
    font-size: large;
}

ul {
    padding-right: 70px;
    padding-left: 70px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    paint-order: stroke fill;
    font-size: large;
}

#welcome {
    padding-top: 30px;
    padding-right: 70px;
    padding-left: 70px;
    font-weight: bold;
    paint-order: stroke fill;
    font-family:Impact, Arial, Helvetica, sans-serif;
    width: 100%;
}

#platform {
    padding-right: 70px;
    padding-left: 70px;
    font-weight: bold;
    paint-order: stroke fill;
    font-family:Impact, Arial, Helvetica, sans-serif;
}


a {
    font-weight: bold;
    paint-order: stroke fill;

}


.container-fluid{
    font-weight: bold;
    paint-order: stroke fill;
    background-color: #f8f9fa;
}

.fix-stroke{
    paint-order: stroke fill;
}

#platform-width{
    width: fit-content;

}

#row-2{
    background-color: #003e60;
    width: 100%;
    row-gap: 0px;
    color: #D6A00C;
}

#welcomepage{
    padding-right: 70px;
    padding-left: 70px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    paint-order: stroke fill;
    font-size: large;
    float:right;
    background-color: white;
    width: 100%;
}

#platformpage{
    width: 100%;
}

#row-1{
    background-color: #003e6010;
    row-gap: 0px;
}

footer{
    background-color: #003e60;
    row-gap: 0px;
}

body{
    background-color: white;
}

#banner{
    width: 100%;
}

#join_us {
    font-size: calc(1.325rem + .9vw);
}
